<beans xmlns="http://www.springframework.org/schema/beans"
	xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xmlns:cxf="http://camel.apache.org/schema/cxf"
	
xmlns:soap="http://cxf.apache.org/bindings/soap" xmlns:http="http://cxf.apache.org/transports/http/configuration"	
	xmlns:sec="http://cxf.apache.org/configuration/security"
	
	xsi:schemaLocation="
		         http://www.springframework.org/schema/beans http://www.springframework.org/schema/beans/spring-beans-3.0.xsd
		         http://camel.apache.org/schema/cxf http://camel.apache.org/schema/cxf/camel-cxf.xsd
		         http://cxf.apache.org/bindings/soap http://cxf.apache.org/schemas/configuration/soap.xsd
		        http://cxf.apache.org/configuration/security
      			http://cxf.apache.org/schemas/configuration/security.xsd
      			http://cxf.apache.org/transports/http/configuration
      			http://cxf.apache.org/schemas/configuration/http-conf.xsd">

	<!-- Expose Web Service -->

	<cxf:cxfEndpoint id="aspport" address="/LRITASP"
		serviceClass="org.imo.gisis.xml.lrit._2008.ASPPortType">
		<cxf:properties>
			<entry key="schema-validation-enabled" value="true" />
			<entry key="faultStackTraceEnabled" value="true" />
			<entry key="dataFormat" value="POJO" />
			<entry key="exceptionMessageCauseEnabled" value="true" />
		</cxf:properties>
	</cxf:cxfEndpoint>
	
<!-- DC ENDPOINT -->
 <!-- 
    <cxf:cxfEndpoint id="dcendpoint" 
    
		serviceClass="org.imo.gisis.xml.lrit._2008.ASPDCPortType" serviceName="aspDCPortType"
	  wsdlURL="http://10.210.8.140:8181/cxf/ASPDC?wsdl" address="http://10.210.8.140:8181/cxf/ASPDC"
	  >
	 	 
	</cxf:cxfEndpoint>
	 -->
	
		<cxf:cxfEndpoint id="dcendpoint"
		serviceClass="org.imo.gisis.xml.lrit._2008.ASPDCPortType">
	 	<cxf:binding>
			<soap:soapBinding version="1.2" />
		</cxf:binding> 
		<cxf:properties>
			<entry key="dataFormat" value="POJO" />
			 <entry key="operationName" value="ASPShipPositionReport" />
			<entry key="operationNamespace" value="http://gisis.imo.org/XML/LRIT/2008" />
		</cxf:properties>
	</cxf:cxfEndpoint>
</beans> 